/**
 * WooCommerce CSS
 *
 * @since 1.0.0
 */

#astoundify-simple-social-login-woocommerce-profile-wrap {
	border-top: 1px solid #eee;
	padding-top: 20px;
}

.astoundify-simple-social-login--link-unlink-buttons {
	list-style: none;
	margin: 0;
}

.astoundify-simple-social-login--link-unlink-buttons p {
	margin: 0;
}
