/**
 * WordPress Login Page.
 *
 * @since 1.0.0
 */

/* Hide Login Form on Initial Load. */
#loginform * {
	display: none;
}

/* Show Social Login On Initial Load */
#loginform #astoundify-simple-social-login-wordpress-wrap,
#loginform #astoundify-simple-social-login-wordpress-wrap * {
	display: block !important;
}

#loginform #astoundify-simple-social-login-wordpress-wrap {
	text-align: center;
}

#loginform #astoundify-simple-social-login-wordpress-wrap:after {
	content:".";display:block;height:0;clear:both;visibility:hidden;
}

/* "Or" Style. */
#astoundify-simple-social-login-wordpress-wrap .login-or {
	text-transform: uppercase;
	color: #777;
	font-size: 13px;
	text-align: center;
	border-top: 1px solid #ccc;
	margin-top: 30px;
}

#astoundify-simple-social-login-wordpress-wrap .login-or span {
	background: #fff none repeat scroll 0 0;
	display: inline-block !important;
	margin: -11px auto 0;
	text-transform: uppercase;
	width: 40px;
}

/* Login With Username Style */
#astoundify-simple-social-login-wordpress-wrap .login-with-username {
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
}

/* Back to Social Login Link */
#astoundify-simple-social-login-wordpress-back {
	margin: auto;
	padding: 0;
	width: 272px;
}

#astoundify-simple-social-login-wordpress-back a {
	color: #555d66;
	text-decoration: none;
}

#astoundify-simple-social-login-wordpress-back a:hover {
	color: #00a0d2;
}

/* Regular Login Active */
#loginform.regular-login * {
	display: block;
}

#loginform.regular-login #rememberme,
#loginform.regular-login label {
	display: inline-block !important;
}

#loginform.regular-login #astoundify-simple-social-login-wordpress-wrap {
	display: none !important;
}

/* Buttons */
.astoundify-simple-social-login--login-register-buttons li {
	margin-bottom: 10px;
}

#loginform .astoundify-simple-social-login-button {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: 2.5em;
	text-align: left;
	height: 2.5em;
	font-size: 100%;
	font-family: inherit;
	font-weight: bold;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	border: none;
	color: #fff;
	background: #333;
	margin: 6px 0;
	border-radius: 2px;
	box-sizing: content-box;
	cursor: pointer;
	padding: 5px 10px;
}

#loginform #astoundify-simple-social-login-wordpress-wrap .astoundify-simple-social-login-icon {
	width: 2em;
	height: 18px;
	margin: 0 10px 0 0;
	padding: 0;
	display: inline-block !important;
	fill: #fff;
}

#loginform .astoundify-simple-social-login-button:hover .astoundify-simple-social-login-icon {
	opacity: 0.8;
}

#loginform .astoundify-simple-social-login-button-facebook {
	background: #3B5998;
}

#loginform .astoundify-simple-social-login-button-twitter {
	background: #1DA1F3;
}

#loginform .astoundify-simple-social-login-button-google {
	background: #CF4332;
}
